<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Click Shop{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1 class="logo"><a href="{% url 'home' %}">Click Shop</a></h1>
            <div class="search-container">
                <form action="{% url 'search_results' %}" method="get" id="search-form">
                    <input type="text" name="q" id="search-input" placeholder="Поиск товаров...">
                    <button type="submit" id="search-button">Искать</button>
                </form>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'home' %}">Каталог</a></li>
                    <li><a href="{% url 'cart' %}">Корзина</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'order_history' %}">Мои заказы</a></li>
                        <li><a href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Вход</a></li>
                        <li><a href="{% url 'register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="container" style="background-image: url('{% static 'products/images/5.jpg' %}');">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer>
        <h6 class="text-right">© 2024 Интернет-магазин. Все права защищены. 888-888-555-00-00-22 Горячая линия</h6>
    </footer>
</body>
</html>
