{% extends "accounts/base.html" %}

{% load custom_filters %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block content %}
<div class="checkout-container">
    <h2>Оформление заказа</h2>
    <form method="post" action="" class="order-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.non_field_errors }}
            <label for="{{ form.first_name.id_for_label }}">Имя:</label>
            {{ form.first_name|add_class:"form-control" }}
            {{ form.first_name.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.address.id_for_label }}">Адрес:</label>
            {{ form.address|add_class:"form-control" }}
            {{ form.address.errors }}
        </div>
        <div class="form-group">
            <label>Способ оплаты:</label>
            <div class="form-check">
                {{ form.payment_method|add_class:"form-check-input" }}
                {{ form.payment_method.errors }}
            </div>
        </div>
        <p></p>
        <p></p>
        <div class="form-group">
            <p>Общая стоимость: {{ total_cost }} руб.</p>
        </div>
        <button type="submit" class="btn btn-primary">Оформить заказ</button>
    </form>
</div>
{% endblock %}
