/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Заполняет экран по вертикали */
    line-height: 1.6;
    color: #333;
    background-color: #e9ecef; /* Цвет фона страницы */
    background-attachment: fixed; /* Фиксирует фон относительно окна */
    background-image: url('/static/products/images/5.jpg'); /* Укажите путь к вашему фону */
    background-size: cover; /* Делает фон полностью покрывающим */
    background-position: center; /* Центрирует фон */
}

/* Шапка */
header {
    background: linear-gradient(135deg, #f8946d, #f05f40);
    color: white;
    padding: 5px 0;
    text-align: center;
    position: relative;
}

header .logo {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header .logo a {
    text-decoration: none; /* Убираем подчёркивание */
    color: #333; /* Цвет текста, например, тёмно-серый */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    font-family: 'Arial', sans-serif; /* Шрифт */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

header .logo a:hover {
    color: #f9f9f9; /* Цвет текста при наведении, например, оранжевый */
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; /* Высота градиентной части */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)); /* Плавный переход от прозрачного к черному с 50% прозрачностью */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Главный блок */
.jumbotron {
    position: relative;
    padding: 100px;
    width: 70%;
    height: 150px; /* Задайте высоту по вашему желанию */
    margin: 100px auto 0 auto; /* Отступ сверху 400px и выравнивание по центру */
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    border-radius: 150px; /* Установите желаемый радиус скругления */
    overflow: hidden; /* Обязательно, чтобы содержимое не выходило за границы */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Усиленная внешняя тень */
}

.jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); /* Внутренняя тень */
    pointer-events: none; /* Чтобы тень не мешала взаимодействию с элементом */
}


.jumbotron-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.jumbotron-text-black {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
}

.jumbotron h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 18px;
    margin-bottom: 20px;
}

.jumbotron .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f05f40;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

/* Сетка товаров */
.container .text-center.mb-4 {
    padding-top: 40px;
    text-align: center;
    color: #333;
    font-family: "Arial", sans-serif; /* Шрифт Arial или другой без засечек */
    font-size: 24px;
    font-style: italic; /* Курсивное начертание */
    line-height: 1.5;
}

.container .text-center.mb-4 p {
    margin-bottom: 10px;
}

.container .text-center.mb-4 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container .text-center.mb-4 a:hover {
    background-color: #e64a19;
}

.container-center .text-center.mb-4{
    margin-top: 20px;
    margin-bottom: 0px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Равномерное распределение между карточками */
    padding: 20px;
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    box-sizing: border-box; /* Учитываем padding и border в расчете ширины */
}

.product-card {
    flex: 0 1 calc(33.33% - 15px); /* Ширина карточки для трёх в ряд с учетом margin */
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px; /* Отступ снизу для всех карточек */
    box-sizing: border-box; /* Учитываем padding и border в расчете ширины */
}

.product-card:first-child {
    margin-left: 0; /* Убираем левый margin у первой карточки */
}

.product-card:last-child {
    margin-right: 0; /* Убираем правый margin у последней карточки */
}

@media (max-width: 992px) {
    .product-card {
        flex-basis: calc(50% - 15px); /* Ширина карточки для двух в ряд на меньших экранах */
    }
}

@media (max-width: 768px) {
    .product-card {
        flex-basis: 100%; /* Карточки на узких экранах будут занимать всю доступную ширину */
    }
}

.text-right {
    position: fixed;
    margin-bottom: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40; /* Серый цвет фона */
    color: #ffffff; /* Белый цвет текста */
    text-align: center;
    padding: 10px 0; /* Вертикальные отступы */
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
}

.registration-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.registration-form label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.registration-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.registration-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.registration-form .login-link {
    text-align: center;
    margin-top: 10px;
}

.registration-form .login-link a {
    color: #007bff;
    text-decoration: none;
}

.registration-form .login-link a:hover {
    text-decoration: underline;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.auth-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.auth-form label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.auth-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.auth-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #f05f40;
    border-radius: 50px;
    border: 2px black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

/* Основные стили для контейнера */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('{% static "products/images/5.jpg" %}') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 20px;
    max-height: calc(100vh - 200px); /* высота максимально 100% высоты экрана минус 200px */
    overflow: auto; /* добавляем прокрутку при необходимости */
}

/* Стили для контейнера изображения */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    max-height: calc(100vh - 300px); /* ограничиваем высоту изображения */
    overflow: hidden; /* скрываем часть изображения, если оно превышает высоту */
}

/* Стили для изображения */
img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto; /* автоматический расчет высоты изображения */
    margin-top: 30px;
}

/* Стили для контейнера текста */
.text-container {
    text-align: center;
    max-height: calc(100vh - 400px); /* ограничиваем высоту текста */
    overflow: auto; /* добавляем прокрутку для текста при необходимости */
}

/* Стили для заголовков и текста */
h2 {
    font-size: 2.5rem;
    color: #343a40;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.25rem;
    color: #6c757d;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.75rem;
    color: #495057;
    margin-bottom: 10px;
}

.text-success,
.text-danger {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

/* Стили для контейнера кнопок */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Расстояние между кнопками */
    max-height: calc(100vh - 500px); /* ограничиваем высоту контейнера кнопок */
    overflow: auto; /* добавляем прокрутку для кнопок при необходимости */
}

/* Адаптивные стили для небольших экранов */
@media (max-width: 767.98px) {
    .content-box {
        flex-direction: column;
        padding: 15px;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .lead {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }

    .button {
        font-size: 1rem;
    }

    .button-container {
        flex-direction: column;
        gap: 5px; /* Расстояние между кнопками для мобильных устройств */
        max-height: calc(100vh - 600px); /* ограничиваем высоту контейнера кнопок для мобильных устройств */
    }
}

.img-rounded {
    margin-top: 0;
    border-radius: 15px; /* Настройте значение по вашему усмотрению */
}
/* Стили для контейнера корзины */
.cart-container {
    padding: 20px;
    background-color: #f8f9fa; /* Светлый фон для контейнера корзины */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
    margin-top: 40px; /* Отступ сверху для опускания таблицы вниз */
    margin-bottom: 50px;
}

.container .text-center.mb-4 {
    padding-top: 0px;
}

/* Стили для карточки товара в корзине */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dee2e6; /* Легкая граница */
    border-radius: 8px; /* Закругленные углы карточки */
    background-color: #fff; /* Белый фон карточки */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

/* Стили для изображения товара в карточке */
.cart-item-image img {
    width: 100px;
    height: 100px; /* Установим фиксированную высоту */
    object-fit: cover; /* Обеспечивает, что изображение не будет искажено */
    border-radius: 4px; /* Закругленные углы изображения */
    margin-right: 20px;
}

/* Стили для деталей товара в карточке */
.cart-item-details {
    flex-grow: 1;
}

/* Стили для элементов управления количеством */
.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Стили для кнопок управления количеством */
.quantity-controls .button {
    padding: 8px 12px;
    background-color: #f05f40; /* Красный фон для кнопок управления количеством */
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
}

.quantity-controls .button:hover {
    background-color: #f05f40; /* Темнее при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

.quantity-controls .button:active {
    background-color: #f05f40; /* Темнее при нажатии */
}

/* Обновляем стили для кнопки удаления */
.button.remove-item {
    padding: 8px 12px;
    background-color: #f05f40; /* Оранжевый фон */
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: auto; /* Автоматическое пространство слева для выравнивания вправо */
}

/* Стили при наведении */
.button.remove-item:hover {
    background-color: #d84d2d; /* Темнее при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Стили при нажатии */
.button.remove-item:active {
    background-color: #c33c1c; /* Темнее при нажатии */
}

/* Если нужно добавить дополнительное позиционирование, например, внутри контейнера */
.remove-item-container {
    display: flex; /* Используем Flexbox для позиционирования */
    justify-content: flex-end; /* Выровнять содержимое контейнера вправо */
}

/* Стили для общего блока корзины */
.cart-total {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff; /* Белый фон блока с итогами */
    border: 1px solid #dee2e6; /* Легкая граница */
    border-radius: 8px; /* Закругленные углы блока */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
    text-align: right; /* Выравнивание текста по правому краю */
    position: relative; /* Чтобы добавить отступ снизу относительно родителя */
    padding-bottom: 60px; /* Дополнительный отступ снизу для кнопки оформления заказа */
}

/* Стили для кнопки оформления заказа */
.cart-total .button {
    background-color: #28a745; /* Зеленый фон кнопки */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
    position: absolute; /* Позволяет позиционировать кнопку относительно блока */
    bottom: 15px; /* Расстояние от нижнего края блока */
    right: 15px; /* Расстояние от правого края блока */
}

.cart-total .button:hover {
    background-color: #218838;
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

.cart-total .button:active {
    background-color: #1e7e34; /* Темнее при нажатии */
}

/* Стиль для счетчика количества товаров в корзине */
.cart-item-count {
    background-color: #dc3545; /* Красный фон */
    color: #fff;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
    vertical-align: top; /* Выровнять по верхнему краю */
}

/* Стили для поиска */
#search-form {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#search-form button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

.previous-searches {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    background: #fff;
    position: absolute;
    width: 200px;
    display: none;
}

.previous-searches li {
    padding: 5px 10px;
    cursor: pointer;
}

.previous-searches li:hover {
    background-color: #eee;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирует элементы по горизонтали */
    gap: 10px;
    width: 100%;
}

#search-input {
    flex-grow: 1; /* Позволяет полю ввода расширяться */
    padding: 10px 200px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 15px;
    box-sizing: border-box; /* Включает padding и border в ширину элемента */
    margin-right: 0px;
    text-align: center; /* Выравнивает текст по центру */
}

#search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #45a049;
}


/* Стили для страницы поиска */

.search-results-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 103px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-results-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.no-results {
    font-size: 18px;
    color: #d9534f;
    text-align: center;
}

.back-home-container {
    text-align: center;
    margin-top: 20px;
}

.back-home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f05f40;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

.back-home-button:hover {
    background-color: #45a049;
}

/* Основной контейнер для формы оформления заказа */
.checkout-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background: linear-gradient(to right, #ffffff, #f9f9f9);
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Заголовок формы */
.checkout-container h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
    text-align: center;
    font-weight: 600;
}

/* Форма заказа */
.order-form {
    display: flex;
    flex-direction: column;
}

/* Группа полей формы */
.form-group {
    margin-bottom: 20px;
}

/* Метка формы */
.form-label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #555;
}

/* Поля ввода */
.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Поля ввода при фокусе */
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
}

/* Выбор опции */
.form-check-input {
    margin-right: 12px;
}

/* Кнопка */
.btn {
    padding: 12px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

/* Кнопка при наведении */
.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Ошибка */
.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}