{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="jumbotron-content">
        <div class="jumbotron-text-black">
            <h1>Добро пожаловать в наш интернет-магазин!</h1>
        </div>
        <a href="#" class="button">Начать покупки</a>
    </div>
</div>

<div class="container-center">
    <h2 class="text-center mb-4">Популярные товары</h2>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            {% with product.images.first as product_image %}
                {% if product_image %}
                    <img src="{{ product_image.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'default-image.jpg' %}" alt="{{ product.name }}">
                {% endif %}
            {% endwith %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.description|slice:"100" }}...</p>
            <a href="{% url 'product_detail' product.slug %}" class="button">Подробнее</a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var jumbotron = document.querySelector('.jumbotron');
        var images = [
            "{% static 'products/images/1.jpg' %}",
            "{% static 'products/images/2.jpg' %}",
            "{% static 'products/images/3.jpg' %}"
        ];
        var currentIndex = 0;
        var interval = 5000; // Интервал смены изображений в миллисекундах (например, 5 секунд)

        // Установить первое изображение сразу
        jumbotron.style.backgroundImage = 'url(' + images[currentIndex] + ')';
        currentIndex = (currentIndex + 1) % images.length;

        function changeBackground() {
            jumbotron.style.backgroundImage = 'url(' + images[currentIndex] + ')';
            currentIndex = (currentIndex + 1) % images.length;
        }

        // Запускаем смену фонового изображения с заданным интервалом
        setInterval(changeBackground, interval);
    });
</script>

{% endblock %}
